@model List<ShopTracker.Models.Currency>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Currencies Manager</h1>
    <p class="lead">Manage all the currencies available</p>
</div>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Full name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model)
            {
                <tr>
                    <td>@currency.CurrencyID</td>
                    <td>@currency.Name</td>
                    <td>@currency.FullName</td>
                    <td>
                        <a asp-controller="Currency" asp-action="Edit" asp-route-id="@currency.CurrencyID">Edit</a>
                        <a asp-controller="Currency" asp-action="Delete" asp-route-id="@currency.CurrencyID" class="text-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
}

@* New currency form section *@
<form class="form bg-light p-2" asp-controller="Currency" asp-action="New" method="POST">
    @Html.AntiForgeryToken()
    <h3>Create new currency</h3>
    <div class="form-row">
        <div class="col-12 col-md-5 mb-2">
            <label class="sr-only" for="name" aria-hidden="true">Currency name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Currency (EUR)" />
        </div>
        <div class="col-12 col-md-5 mb-2">
            <label class="sr-only" for="fullName" aria-hidden="true">Currency full name</label>
            <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Full name (Euro)" />
        </div>
        <div class="col-12 col-md-2">
            <button type="submit" class="btn btn-primary form-control">Create</button>
        </div>
    </div>
</form>