@model ShopTracker.Models.Item

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form class="form bg-light p-2" asp-controller="Item" asp-action="New" method="POST">
    @Html.AntiForgeryToken()
    <h3>Add new item</h3>
    <div class="form-row">
        <div class="col-12 col-md-4 mb-2">
            <label for="name" class="sr-only" aria-hidden="true">Item name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Item name (Coca-Cola)" />
            <div class="alert alert-danger d-none mb-0 mt-2">
                @Html.ValidationMessageFor(u => u.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-12 col-md-8 mb-2">
            <label for="description" class="sr-only" aria-hidden="true">Item description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Item description (A carbonated drink)" />
            <div class="alert alert-danger d-none mb-0 mt-2">
                @Html.ValidationMessageFor(u => u.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="form-group">
                <label for="category" class="sr-only" aria-hidden="true">Category select</label>
                <select class="form-control" id="category" name="category"></select>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <div class="form-group">
                <label for="measure" class="sr-only" aria-hidden="true">Measure select</label>
                <select class="form-control" id="measure" name="measure" placeholder="Measure"></select>
            </div>
        </div>
        <div class="alert alert-danger d-none mb-0 mt-2">
            @Html.ValidationMessageFor(u => u.CategoryID, "", new { @class = "text-danger" })
        </div>
        <div class="alert alert-danger d-none mb-0 mt-2">
            @Html.ValidationMessageFor(u => u.MeasureID, "", new { @class = "text-danger" })
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary form-control">Add item</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/ErrorLoading.js"></script>
    <script src="~/js/ItemNew.js"></script>
}